.container {
  width: 560px;
  border: 2px solid #000;
  margin: 0px auto;
}

.box{
  display: inline-block;
  background: grey;
  width: 160px;
  height: 100px;
  margin: 10px;
}

hr {
  margin:  80px auto;
  border:  none;
  border-top: 1px dotted #f00;
  color: grey;
  background-color: grey;
  height: 1px;
  width: 40%;
}

.border{
  border:  10px solid #000;
}

.border1{
  border: 10px solid #000;
  box-sizing: border-box;
}

p{
  text-align: center;
}