.box1{
    display:inline-block;
    margin:10px;
    height:250px;
    width:420px;
    background:red;
  }
  
  .box2{
    display:inline-block;
    height:250px;
    width:240px;
    background:green;
  }
  
  .box3{
    display:inline-block;
    background:purple;
    height:250px;
    width:360px;
    margin:10px;
  }
  
  .box4{
    height:250px;
    display:inline-block;
    width:300px;
    background:blue;
    margin:10px;
  }
  
  .box5{
    display:inline-block;
    height:250px;
    width:500px;
    background:green;
    margin:10px;
    
  }
  
  .box6{
    display:inline-block;
    height:250px;
    width:200px;
    background:green;
    margin:10px;
    
  }
  
  .box7{
    
    display:inline-block;
    height:250px;
    width:300px;
    background:orange;
    margin:10px;
    
  }
  
  .box8{
      display:inline-block;
    height:250px;
    width:300px;
    background:yellow;
    margin:10px;
    
  }
  
  .box9{
      display:inline-block;
    height:250px;
    width:400px;
    background:red;
    margin:10px;
    
  }
  
  
  
  