body{
  margin:0;
}

.container{
  width:400px;
  background:purple;
  padding:10px;
}

.box{
  padding:10px;
  background:red;
  margin:15px;
  border:15px solid;
  border-top-color: blue;
  border-bottom-color:yellow;
  border-left-color:green;
  border-right-color:grey;
  color:white;
}
        